/* XL Tablets */
@media only screen and (max-width: 1320px) {
    .main-header {
        font-size: 500%;
    }

    .footer {
        height: 35vh;
    }
}

/* Large tablets to 1200px(widths smaller than 1140px row */
@media only screen and (max-width: 1200px) {
    .main-header {
        font-size: 410%;
    }
    .terra-section-header {
        font-size: 360%;
    }

    .terra-section-copy {
        font-size: 130%;
    }

    .flora-section-header {
        font-size: 360%;
    }

    .flora-section-copy {
        font-size: 130%;
    }

    .fauna-section-header {
        font-size: 360%;
    }

    .fauna-section-copy {
        font-size: 130%;
    }

    .vista-section-header {
        font-size: 360%;
    }

    .vista-section-copy {
        font-size: 130%;
    }
}

/* Small to large tablets */
@media only screen and (max-width: 1023px) {
    .main-header {
        font-size: 350%;
    }

    .terra-section-header {
        font-size: 300%;
    }

    .terra-section-copy {
        font-size: 120%;
    }

    .flora-section-header {
        font-size: 300%;
    }

    .flora-section-copy {
        font-size: 120%;
    }

    .fauna-section-header {
        font-size: 300%;
    }

    .fauna-section-copy {
        font-size: 120%;
    }

    .vista-section-header {
        font-size: 300%;
    }

    .vista-section-copy {
        font-size: 120%;
    }
   
}

/* Large phones and small tablets, from 481-767 */
@media only screen and (max-width: 767px) {

    .main-header {
        font-size: 220%;
    }

    .explanation-section {
        font-size: 115%;
    }

    .terra-section-header {
        font-size: 180%;
    }

    .terra-section-copy {
        font-size: 100%;
    }

    .flora-section-header {
        font-size: 180%;
    }

    .flora-section-copy {
        font-size: 100%;
    }

    .fauna-section-header {
        font-size: 180%;
    }

    .fauna-section-copy {
        font-size: 100%;
    }

    .vista-section-header {
        font-size: 180%;
    }

    .vista-section-copy {
        font-size: 100%;
    }

}

/* Small and Midrange Phones up to 480px */
@media only screen and (max-width: 480px) {
    .main-header {
        font-size: 135%;
    }

    .navbar li {
        margin-right: 15px;
        display: inline-block;
        font-weight: 600;
        font-size: 70%;
    }

    .explanation-section {
        font-size: 75%;
    }

    .terra-section-header {
        font-size: 150%;
    }

    .terra-section-copy {
        font-size: 70%;
    }

    .flora-section-header {
        font-size: 150%;
    }

    .flora-section-copy {
        font-size: 70%;
    }

    .fauna-section-header {
        font-size: 150%;
    }

    .fauna-section-copy {
        font-size: 70%;
    }

    .vista-section-header {
        font-size: 150%;
    }

    .vista-section-copy {
        font-size: 70%;
    }
}